
  
  #mainimg {
    margin-top: 0px;
  }

  .lead {
    margin-top: 23px;
  }
  
  .jumbotron {
    background-color: #5383c5;
  }

    .container { 
        position: relative;
        top: 150px;
        margin-left: auto;
        margin-right: auto;
        background: white;
    }
    
   #buttons {
     position: static;
     margin-left: 50px;
     margin-top: 20px;
   }
  
    
    .row.footer {
        bottom: 0px;
        position: relative;
        top: 300px;
        text-align:center;
        padding: 5px;
        background-color: #5383c5;
    }
    .holder {
      position: relative;
      background-color: white(174, 154, 221, 0.329);
      width: 100%;
      min-height: 350px;
      overflow:hidden;
      }
      #mainimg {
      float: left;
      border: 0px;
      padding: 20px;
      }
     
      #namee {
      background-color: #5383c5;
      color: black;
      padding: 30px;
      float: left;
      position: absolute;
     
    }
    
    .card-group {
      position: static;
    }
    
    .card-title {
      position: relative;
      left: 0px;
    }
    
    .card-img-top {
      height:200px;
      width:206px;
    }
    
    .card-title{
      height: 50px;
    }
    
    .card-text {
      max-height: 150px;
      overflow: hidden;
    }
    
 
    .card-deck {
      position: relative;
    }
    .butbox{ 
      width:200px;
      position: relative;
    left:-15px;}
    
    .card-img-top:hover {
      transition: .5s ease;
      opacity: 0.9;
      filter: contrast(200%);
      }